name: CI
on:
  pull_request:
  push:
    branches:
      - master
      - alpha

env:
  RUST_BACKTRACE: 1

jobs:

  test:
    name: Test ${{ matrix.rust }}
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
          - 1.39.0

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install Rust (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Patch Dependencies
        if: matrix.rust == '1.39.0'
        uses: actions-rs/cargo@v1
        with:
            command: update
            args: --package remove_dir_all --precise 0.5.2

      - name: Check Format
        if: matrix.rust == 'stable'
        uses: actions-rs/cargo@v1
        with:
            command: fmt
            args: -- --check

      - name: Clippy
        if: matrix.rust == 'stable'
        uses: actions-rs/clippy-check@v1
        with:
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test

  release:
      name: Semantic Release
      if: github.event == 'push'
      runs-on: ubuntu-latest
      needs: ['Test stable', 'Test beta', 'Test nightly', 'Test 1.39.0']

      steps:
          - name: Checkout
            uses: actions/checkout@v1

          - name: Install Rust Stable
            uses: actions-rs/toolchain@v1
            with:
                profile: minimal
                toolchain: stable
                override: true

          - name: Semantic Release
            uses: cycjimmy/semantic-release-action@v2
            with:
                semantic_version: 17.1.1
                dry_run: true
            env:
                GITHUB_TOKEN: ${{ secrets.SEM_REL_GH_TOKEN }}
